@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  /* 公祭日:一键变灰 */
}

.hearder {
  width: 100%;
  height: 40px;
  background-color: #333;
}
.hearder .wrap {
  width: 1226px;
  height: inherit;
  margin: 0 auto;
}
.hearder .wrap .header-left {
  float: left;
}
.hearder .wrap .header-left li:nth-child(11) {
  position: relative;
}
.hearder .wrap .header-left li:nth-child(11):hover > .download {
  display: block;
}
.hearder .wrap .header-left li:nth-child(11) .download {
  z-index: 2;
  display: none;
  position: absolute;
  top: 40px;
  left: -50%;
  width: 124px;
  height: 148px;
  background-color: white;
  box-shadow: 0 1px 5px #aaa;
}
.hearder .wrap .header-left li:nth-child(11) .download img {
  width: 90px;
  height: 90px;
  margin: 18px 17px 0px 17px;
}
.hearder .wrap .header-left li:nth-child(11) .download p {
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
.hearder .wrap .header-left li:nth-child(11) .triangle {
  position: absolute;
  display: none;
  bottom: 0px;
  left: 22px;
  width: 0;
  height: 0;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.hearder .wrap .header-left li:nth-child(11):hover > .triangle {
  display: block;
}
.hearder .wrap .header-right {
  float: right;
}
.hearder .wrap .header-right .cart {
  background-color: #424242;
  margin-left: 25px;
  width: 120px;
  height: 40px;
  text-align: center;
  transition: all 0.2s;
  position: relative;
}
.hearder .wrap .header-right .cart:hover {
  background-color: #ffffff;
}
.hearder .wrap .header-right .cart:hover a {
  color: #ff6700;
}
.hearder .wrap .header-right .cart .icon-cart {
  font-size: 20px;
  line-height: 20px;
  margin: 0 4px;
}
.hearder .wrap .header-right .cart .cart-list {
  position: absolute;
  top: 40px;
  right: 0;
  width: 316px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.483) 0px 2px 10px 0px;
  color: #424242;
  font-size: 12px;
  display: none;
}
.hearder .wrap .header-right .cart:hover > .cart-list {
  display: block;
  z-index: 4;
}
.hearder .wrap li {
  float: left;
  line-height: 40px;
  font-size: 12px;
}
.hearder .wrap li a {
  color: #b0b0b0;
}
.hearder .wrap li a:hover {
  color: #fff;
}
.hearder .wrap span {
  margin: 0 7px;
  color: #424242;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.nav .wrap {
  width: 1226px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.nav .logo {
  width: 62px;
  height: 56px;
}
.nav .logo img {
  height: 100%;
}
.nav .logo img:active {
  transform: scale(0.9);
  transition: linear 0.1s;
}
.nav .nav-bar {
  width: 868px;
  height: 100px;
  padding-left: 172px;
  padding-right: 96px;
}
.nav .nav-bar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .nav-bar ul > li > a:hover {
  color: #ff6700;
}
.nav .nav-bar ul a {
  color: #333;
  font-weight: 350;
}
.nav .search {
  float: left;
  width: 296px;
  height: 50px;
  display: flex;
  position: relative;
}
.nav .search input {
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
  box-sizing: border-box;
  border-right: none;
  outline: none;
  transition: all 0.2s;
}
.nav .search input::placeholder {
  font-size: 16px;
}
.nav .search input:hover, .nav .search input:hover + a {
  border-color: #b0b0b0;
}
.nav .search input:focus, .nav .search input:focus + a {
  border-color: #ff6700;
}
.nav .search input:focus ~ .search-list {
  display: block;
  z-index: 5;
}
.nav .search .search-list {
  position: absolute;
  top: 50px;
  left: 0;
  width: 245px;
  height: 240px;
  border: 1px solid #ff6700;
  border-top: none;
  box-sizing: border-box;
  background-color: white;
  display: none;
}
.nav .search .search-list a {
  display: block;
  width: 243px;
  height: 30px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
  text-align: left;
  padding: 0px 15px;
  color: #424242cd;
}
.nav .search .search-list a:hover {
  color: #424242cd;
  background-color: rgba(128, 128, 128, 0.083);
}
.nav .search a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #616161;
  font-weight: 900;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  transition: all 0.2s;
}
.nav .search a:hover {
  background-color: #ff6700;
  color: #fff;
}

.banner {
  width: 100%;
  height: 460px;
  background-color: white;
}
.banner .banner-container {
  position: relative;
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/15c05b32cf948b594477dfc3eb69fb69.jpg?w=2452&h=920);
  background-size: 100%;
  animation: banner 10s ease-in infinite;
}
.banner .banner-container:hover {
  animation-play-state: paused;
}
.banner .banner-container .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 234px;
  height: 460px;
  background-color: #69656553;
}
.banner .banner-container .slide ul {
  margin: 20px 0;
}
.banner .banner-container .slide ul .slide-list {
  display: none;
  position: absolute;
  padding-top: 2px;
  width: 992px;
  height: 456px;
  top: 0px;
  left: 234px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-left: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.banner .banner-container .slide ul .slide-list .box {
  width: 100%;
  height: 100%;
  display: flex;
}
.banner .banner-container .slide ul .slide-list .box .column {
  width: 248px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.banner .banner-container .slide ul .slide-list .box .column .item {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.banner .banner-container .slide ul li {
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
}
.banner .banner-container .slide ul li:hover > .slide-list {
  display: block;
}
.banner .banner-container .slide ul li a {
  font-size: 14px;
  color: white;
}
.banner .banner-container .slide ul li a i {
  float: right;
  margin-right: 20px;
}
.banner .banner-container .slide ul li:hover {
  background-color: #ff6700;
}
@keyframes banner {
  0% {
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/15c05b32cf948b594477dfc3eb69fb69.jpg?w=2452&h=920);
  }
  33% {
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/19f12ce5a1770c2a23188f1055258967.jpg?thumb=1&w=1533&h=575&f=webp&q=90);
  }
  66% {
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/918820682e4a490221cfd92b24c14b86.jpg?thumb=1&w=1533&h=575&f=webp&q=90);
  }
  100% {
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/6c149e20d569b96c0a99f62e5108ad29.jpg?thumb=1&w=1533&h=575&f=webp&q=90);
  }
}
.banner .adv {
  width: 100%;
  height: 170px;
  margin-top: 14px;
  margin-bottom: 26px;
  background-color: white;
}
.banner .adv .wrap {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 234px 1fr 1fr 1fr;
  gap: 15px;
}
.banner .adv .wrap .adv-item {
  height: 164px;
  background-color: #5f5750;
  color: #333;
  font-size: 12px;
  padding: 3px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.banner .adv .wrap .adv-item .son {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  opacity: 0.7;
  transition: all 0.2s;
  position: relative;
}
.banner .adv .wrap .adv-item .son:hover {
  opacity: 1;
}
.banner .adv .wrap .adv-item .son img {
  width: 24px;
  height: 24px;
}
.banner .adv .wrap .adv-item .son span {
  margin-top: 7px;
}
.banner .adv .wrap .adv-item .son:nth-child(-n+3)::after {
  content: "";
  width: 67px;
  height: 1px;
  position: absolute;
  top: 100%;
  background-color: #756c64;
}
.banner .adv .wrap .adv-item .son:nth-child(-n+6)::before {
  content: "";
  height: 67px;
  width: 1px;
  position: absolute;
  left: 0%;
  background-color: #756c64;
}
.banner .adv .wrap .adv-item .son:nth-child(-n+6)::after {
  content: "";
  height: 1px;
  width: 67px;
  position: absolute;
  top: 0%;
  left: 5%;
  background-color: #756c64;
}
.banner .adv .wrap .img-item img {
  transition: all 0.2s linear;
  width: 316px;
  height: 170px;
}
.banner .adv .wrap .img-item img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.main-page {
  position: absolute;
  top: 810px;
  width: 100%;
  height: 6650px;
  background-color: #f5f5f5;
}
.main-page .wrap {
  width: 1226px;
  margin: 0 auto;
}
.main-page .wrap .k40 {
  width: 100%;
  height: 120px;
  margin: 22px 0;
}
.main-page .wrap .k40 img {
  width: 100%;
  height: 100%;
}
.main-page .wrap .title {
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  text-align: left;
  font-weight: 200;
  color: #333;
}
.main-page .wrap .title a {
  float: right;
  font-size: 18px;
  color: #333;
  transition: all linear 0.4s;
}
.main-page .wrap .title a li {
  font-size: 14px;
  float: right;
  position: relative;
}
.main-page .wrap .title a li:hover {
  color: #ff6700;
}
.main-page .wrap .title a li:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  left: 0;
  top: 70%;
}
.main-page .wrap .title a li:nth-child(1) {
  margin-left: 30px;
}
.main-page .wrap .title a span {
  font-size: 22px;
  color: rgba(51, 51, 51, 0.4);
  margin-left: 8px;
}
.main-page .wrap .title a:hover, .main-page .wrap .title a:hover > span {
  color: #ff6700;
}
.main-page .wrap .goods-container {
  height: 614px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 14px;
  margin-bottom: 22px;
}
.main-page .wrap .goods-container div:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.main-page .wrap .goods-container .half {
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-page .wrap .goods-container .half p:nth-child(1) {
  font-size: 20px;
}
.main-page .wrap .goods-container .half p:nth-child(2) {
  margin-top: 2px;
  color: #757575;
  font-size: 12px;
}
.main-page .wrap .goods-container .half i {
  font-size: 70px;
  color: #ff6700;
  font-weight: 800;
}
.main-page .wrap .row-2 {
  grid-row: 1/span 2;
}
.main-page .wrap .row-2 img {
  height: 100%;
  width: 100%;
}
.main-page .wrap .normal-item {
  background-color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-page .wrap .normal-item img {
  height: 160px;
  width: 160px;
  margin-bottom: 15px;
}
.main-page .wrap .normal-item P:nth-child(2) {
  color: #333;
  font-size: 14px;
  margin-bottom: 2px;
}
.main-page .wrap .normal-item p:nth-child(3) {
  color: #b0b0b0;
  font-size: 12px;
  margin-bottom: 10px;
}
.main-page .wrap .normal-item p:nth-child(4) {
  color: #ff6700;
  font-size: 14px;
}
.main-page .wrap .normal-item span {
  color: #b0b0b0;
  text-decoration: line-through;
}
.main-page .wrap .video {
  width: 100%;
  height: 285px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px;
}
.main-page .wrap .video .video-item {
  position: relative;
  background-color: #fff;
  text-align: center;
  transition: all 0.2s linear;
}
.main-page .wrap .video .video-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main-page .wrap .video .video-item:hover > .play {
  background-color: #ff6700;
  border: #ff6700;
}
.main-page .wrap .video .video-item p {
  margin-top: 28px;
  color: #333;
  font-size: 14px;
}
.main-page .wrap .video .video-item span {
  display: block;
  color: #b0b0b0;
  font-size: 12px;
  margin-top: 10px;
}
.main-page .wrap .video .video-item img {
  width: 296px;
  height: 180px;
}
.main-page .wrap .video .video-item .play {
  width: 32px;
  height: 24px;
  position: absolute;
  top: 135px;
  left: 20px;
  border-radius: 20px;
  border: 2.5px solid rgba(255, 255, 255, 0.733);
  transition: all 0.3s linear;
}
.main-page .wrap .video .video-item .play span {
  display: block;
  margin: 4px auto;
  width: 0;
  height: 0;
  border-left: 8px solid white;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}

.footer {
  margin-top: 25px;
  width: 100%;
}
.footer .footer-top {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #616161;
  position: relative;
  border-bottom: 1px solid rgba(51, 51, 51, 0.205);
}
.footer .footer-top span:nth-child(-2n+8) {
  width: 1px;
  height: 25px;
  background-color: #61616150;
}
.footer .footer-top .item {
  font-size: 17px;
}
.footer .footer-top .item i {
  font-size: 26px;
  line-height: 26px;
}
.footer .footer-mid {
  padding-top: 40px;
  height: 253px;
  width: 100%;
}
.footer .footer-mid ul {
  float: left;
  width: 160px;
}
.footer .footer-mid ul li:first-child {
  color: #424242;
  font-size: 14px;
  margin-bottom: 26px;
}
.footer .footer-mid ul li:nth-child(n+2) a {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  color: #757575;
}
.footer .footer-mid .contact {
  text-align: center;
  float: right;
  width: 252px;
  border-left: 1px solid rgba(0, 0, 0, 0.171);
}
.footer .footer-mid .contact p:first-child {
  color: #ff6700;
  font-size: 22px;
  margin-bottom: 5px;
}
.footer .footer-mid .contact p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 5px;
  color: #616161;
}
.footer .footer-mid .contact .button {
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ff6700;
  transition: all 0.4s linear;
}
.footer .footer-mid .contact .button:hover {
  background-color: #ff6700;
  color: white;
}
.footer .footer-mid .contact .follow {
  margin-top: 10px;
  font-size: 12px;
  color: #616161;
}
.footer .footer-mid .contact .follow a:nth-child(2) {
  position: relative;
}
.footer .footer-mid .contact .follow a:nth-child(2):hover img {
  display: block;
}
.footer .footer-mid .contact .follow img {
  display: none;
  width: 100px;
  right: -40px;
  top: 15px;
  position: absolute;
}
.footer .footer-mid .contact .follow .iconfont {
  font-size: 20px;
  margin-left: 4px;
  color: #616161;
}
.footer .footer-mid .contact .follow .iconfont:hover {
  color: #ff6700;
}

.footer-bottom {
  background-color: #f5f5f5;
  height: 240px;
  width: 100%;
  padding: 30px 0;
}
.footer-bottom .wrap {
  width: 1226px;
  height: 200px;
  margin: 0 auto;
}
.footer-bottom .wrap .logo {
  float: left;
  width: 56px;
  margin-right: 20px;
}
.footer-bottom .wrap .logo i {
  font-size: 60px;
  color: #ff6700;
}
.footer-bottom .wrap .text {
  float: left;
  width: 1150px;
  height: 200px;
  font-size: 12px;
  line-height: 20px;
}
.footer-bottom .wrap .text span {
  margin: 0 3px;
  color: #b0b0b0;
}
.footer-bottom .wrap .text p:first-child a {
  color: #757575;
}
.footer-bottom .wrap .text p:first-child a:hover {
  color: #ff6700;
}
.footer-bottom .wrap .text p:nth-child(2) {
  color: #b0b0b0;
  margin-bottom: 4px;
}
.footer-bottom .wrap .text .img-contain img {
  width: 83px;
  height: 28px;
}
.footer-bottom .wrap h2 {
  text-align: center;
  margin-top: 30;
  font-size: 25px;
  font-weight: 500;
  font-family: kaiti;
  color: #75757559;
}

@media (max-width: 1500px) {
  .right-nav {
    visibility: hidden;
  }
}
.right-nav {
  position: fixed;
  width: 84px;
  height: 561px;
  right: 0;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
}
.right-nav .item {
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 84px;
  height: 92px;
  color: #353434;
  border-top: 1px solid #f5f5f5;
  font-size: 14px;
  background-color: white;
}
.right-nav .item img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}
.right-nav .item:hover {
  opacity: 1;
}
.right-nav .item:last-child {
  margin-top: 20px;
}

/*# sourceMappingURL=index.css.map */
